body {
  margin: 0;
  font-family: Open Sans, sans-serif;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

.pop-up {
  opacity: 0;


  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.popup-caption {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-top: 37px;
}

.popup-caption::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.popup-content {
  margin: 120px auto 0px auto;
  width: 370px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.popup__close {
  width: 1.4em;
  height: 1em;
  font-size: 20px;
  position: relative;
  top: -45px;
  right: -355px;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup__close:before {
  width: 1.4em;
  height: 0.2em;
  transform: translate(-50%, -50%) rotate(45deg);
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup__close:after {
  width: 1.4em;
  height: 0.2em;
  transform: translate(-50%, -50%) rotate(-45deg);
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup__close:hover {
  cursor: pointer;
}

.popup-form-visit {
  margin: 20px 20px 0 20px;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;

  margin-top: 10px;
  padding-left: 19px;
  padding-right: 25px;

  border: none;
  background-color: #f3f7f6;

  font-size: 14px;
  color: #333333;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 7px center;
}

.select:focus {
  outline: 2px solid #0f8fee;
  outline-offset: 4px;
}

.select-label {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 13px;
  line-height: 22px;
}

.popup-form-mailing {
  margin: 34px 20px 0 20px;
}

.popup-form-mailing-label {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 13px;
  line-height: 22px;
}

.answerChoice1-label,
.answerChoice2-label {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 13px;
}

.answerChoice1,
.answerChoice2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #b59f5b;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.answerChoice1:checked,
.answerChoice2:checked {
  border: 6px solid #b59f5b;
}

.popup-form-comment {
  margin: 30px 20px 0 20px;
}

.popup-form-comment-hint {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 13px;
  line-height: 17px;
}

.popup-form-comment-field {
  margin-top: 10px;

  font-family: Open Sans, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 310px;
  height: 130px;
  background-color: #f3f7f6;
  padding-top: 15px;
  padding-left: 22px;
}

.pop-up-button {
  margin: 5px 20px 45px 20px;
  width: 332px;
  height: 48px;
  padding: 0;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
}

.pop-up-button:hover {
  border: 2px solid grey;
}

@media (max-width: 640px) {
  .popup__close {
    width: 1.4em;
    height: 1em;
    font-size: 20px;
    position: relative;
    top: -45px;
    right: -295px;
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
    cursor: pointer;
  }

  .popup__close:before {
    width: 1.4em;
    height: 0.2em;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .popup__close:after {
    width: 1.4em;
    height: 0.2em;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .popup-content {
    margin: 55px auto 0px auto;
    width: 310px;
  }

  .popup-caption {
    font-size: 16px;
    margin-top: 16px;
  }

  .popup-form-visit {
    margin: 23px 20px 0 13px;
  }

  .select {
    background-position: right 3px center;
  }

  .popup-form-mailing {
    margin: 34px 20px 0 13px;
  }

  .answerChoice1,
  .answerChoice2 {
    width: 25px;
    height: 25px;
  }

  .answerChoice2 {
    margin-left: 20px;
  }

  .answerChoice1:checked,
  .answerChoice2:checked {
    border: 10px solid #b59f5b;
  }
  .popup-form-comment {
    margin: 28px 20px 0 13px;
  }

  .popup-form-comment-field {
    width: 257px;
    height: 110px;
  }

  .pop-up-button {
    margin: 23px 20px 21px 13px;
    width: 280px;
  }
}

.header {
  margin: auto;
  padding-top: 0px;
  background-image: url("../img/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
}

.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.header-label {
  padding-bottom: 127px;
  max-width: 705px;
  font-size: 45px;
  font-weight: bold;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 95px auto 0 auto;
}

.head-img {
  width: 180px;
  margin-top: 10px;
  margin-left: 35px;
}

.header-top {
  display: flex;
  max-width: 1166px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
}

.menu__button {
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;

  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu__button:before,
.menu__button:after {
  content: "";
  width: 100%;
  height: 20%;

  border-radius: 5px;
  background-color: #ffffff;

  position: absolute;
  left: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.1em;

  border-radius: 5px;
  background-color: #ffffff;

  position: absolute;
  left: 0;
  top: 50%;
}

@media (min-width: 1200px) {
  .menu__button {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header-list {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .head-img {
    width: 158px;
    margin-left: 35px;
  }

  .menu__button {
    margin-right: 35px;
    width: 25px;
  }

  .header-top {
    padding-top: 33px;
  }

  .header-label {
    margin-top: 85px;
    max-width: 620px;
    font-size: 37px;
    line-height: 55px;
    padding-bottom: 112px;
    letter-spacing: 2px;
  }

  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }
}

@media (max-width: 640px) {
  .header-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 225px;
    padding-left: 40px;
  }

  .head-img {
    width: 269px;
    margin: 0;
  }

  .header-label {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 29px;
    max-width: 640px;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.008em;
    padding-bottom: 212px;
  }

  .header-navigation {
    padding-right: 15px;
    margin-top: -205px;
  }

  .menu__button {
    width: 1em;
    height: 0.8em;
  }

  .header {
    margin: auto;
    padding-top: 0px;
    background-image: url("../img/banner-mobile.jpg");
  }
}

.menu-list-item {
  list-style-type: none;
  display: inline;
}

.header-list-item {
  text-decoration: none;
  font-size: 13px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.header-list-item:hover {
  text-decoration: underline;
}

.trending-now {
  margin-top: 55px;
  width: 100%;
}

.caption {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.caption::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.trending-now-post-card {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.trending-now-posts {
  display: flex;
  margin-top: 28px;
}

.now-post-garden {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 4px;
  background-image: url("../img/trend1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
}

.now-post-garden::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.now-post-cheese {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 4px;
  background-image: url("../img/trend2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
}

.now-post-cheese::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.now-post-mountain {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  margin-right: 4px;
  background-image: url("../img/trend3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
}

.now-post-mountain::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.now-post-lemon {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  background-image: url("../img/trend4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #666666;
  position: relative;
  z-index: 0;
}

.now-post-lemon::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.now-post-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 3px solid #b59f5b;
  margin-top: 135px;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 16px;
}

.now-posts-tags {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  margin-left: 39px;
  margin-top: 30px;
  display: flex;
  align-self: flex-start;
}

.now-post-tags-link {
  list-style-type: none;
}

.now-post-tags-link:nth-child(n + 2) {
  padding-left: 15px;
}

.now-post-tags-link-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #b59f5b;
}

.now-post-label {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 22px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-left: 39px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.now-post-label-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trending-now-post-card {
    width: 50%;
    margin-bottom: 4px;
  }

  .trending-now-posts {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .now-post-cheese {
    margin-right: 0px;
  }

  .caption {
    font-size: 18px;
    margin-top: 45px;
  }

  .trending-now {
    margin-top: 40px;
  }

  .now-post-label-link {
    font-size: 17px;
  }

  .now-post-description {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 18px;
    margin-bottom: 16px;
  }

  .now-post-label {
    margin-bottom: 25px;
    line-height: 18px;
    padding-top: 9px;
  }

  .now-posts-tags {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trending-now-posts {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .caption {
    font-size: 18px;
    margin-top: 45px;
  }

  .trending-now {
    margin-top: 40px;
  }

  .now-post-label-link {
    font-size: 12px;
  }

  .now-post-tags-link-item {
    font-size: 12px;
  }

  .now-post-description {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 18px;
    margin-bottom: 16px;
  }

  .now-post-label {
    margin-bottom: 25px;
    line-height: 14px;
    padding-top: 9px;
  }

  .now-posts-tags {
    margin-left: 10px;
    margin-top: 30px;
  }

  .now-post-label {
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trending-now {
    margin-top: 38px;
  }

  .caption {
    font-size: 16px;
  }

  .trending-now-post-card {
    width: 100%;
    margin-bottom: 4px;
  }

  .trending-now-posts {
    flex-wrap: wrap;
    margin-top: 24px;
  }

  .now-post-cheese {
    margin-right: 0;
    margin-left: 0;
  }

  .now-post-garden {
    margin-right: 0;
    margin-left: 0;
  }

  .now-post-mountain {
    margin-right: 0;
    margin-left: 0;
  }

  .now-post-lemon {
    margin-right: 0;
    margin-left: 0;
  }

  .now-post-description {
    margin-top: 90px;
  }

  .now-posts-tags {
    margin-top: 24px;
    margin-left: 18px;
  }

  .now-post-tags-link:nth-child(n + 2) {
    padding-left: 17px;
  }

  .now-post-label-link {
    font-size: 16px;
  }

  .now-post-label {
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 27px;
    line-height: 18px;
    letter-spacing: 0.0001em;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trending-now {
    margin-top: 38px;
  }

  .caption {
    font-size: 16px;
  }

  .trending-now-post-card {
    width: 50%;
    margin-bottom: 4px;
  }

  .trending-now-posts {
    flex-wrap: wrap;
    margin-top: 24px;
  }

  .now-post-cheese {
    margin-right: 0;
    margin-left: 2px;
  }

  .now-post-garden {
    margin-right: 2px;
    margin-left: 0;
  }

  .now-post-mountain {
    margin-right: 2px;
    margin-left: 0;
  }

  .now-post-lemon {
    margin-right: 0;
    margin-left: 2px;
  }

  .now-post-description {
    margin-top: 90px;
  }

  .now-posts-tags {
    margin-top: 24px;
    margin-left: 18px;
  }

  .now-post-tags-link:nth-child(n + 2) {
    padding-left: 17px;
  }

  .now-post-label-link {
    font-size: 16px;
  }

  .now-post-label {
    margin-top: 5px;
    margin-left: 16px;
    margin-bottom: 27px;
    line-height: 18px;
    letter-spacing: 0.0001em;
  }
}

.page-middle {
  margin-left: auto;
  margin-right: auto;
  width: 1180px;
  display: flex;
  justify-content: space-between;
}

.main {
  margin-top: 55px;
  padding: 0;
}
.main-posts {
  width: 777px;
}

.posts-item {
  display: flex;
  margin-bottom: 48px;
}

.picture {
  width: 380px;
}

.posts-item-description {
  margin: 0 0 0 35px;
}

.item-tags {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.tags-link:nth-child(n + 2) {
  padding-left: 15px;
}

.posts-tags-link-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #b59f5b;
}

.tags-link {
  list-style-type: none;
  display: inline;
}

.posts-item-label {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1em;
}

.posts-item-label-link {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.item-time {
  text-transform: lowercase;
  font-size: 12px;
  color: #888888;
  margin: 0 0 3px 0;
}

.item-time-author {
  margin: 24px 0 46px 0;
}
.item-author {
  margin-left: 7px;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.item-text {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 22px;
}

.item-text-second-paragraph {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main {
    margin-top: 50px;
  }

  .item-text-second-paragraph {
    margin-top: 7px;
    margin-bottom: 2px;
  }

  .posts-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }

  .item-pic {
    margin-left: 0;
  }

  .posts-item-description {
    margin-left: 0;
    margin-top: 7px;
    padding-bottom: 15px;
    border-bottom: 3px solid #ededed;
  }

  .posts-item-label {
    margin-top: 2px;
  }

  .main-posts {
    width: 392px;
    margin-left: 35px;
  }

  .page-middle {
    width: 768px;
    display: flex;
    justify-content: space-between;
  }

  .picture {
    width: 100%;
  }

  .posts-item-label-link {
    font-size: 17px;
  }

  .posts-item-label {
    line-height: 22px;
    width: 101%;
  }

  .item-time-author {
    padding-top: 3px;
    margin-bottom: 27px;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .page-middle {
    margin-left: 0;
    margin-right: 0;
  }

  .main {
    margin-top: 50px;
  }

  .item-text-second-paragraph {
    margin-top: 7px;
    margin-bottom: 2px;
  }

  .posts-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }

  .item-pic {
    margin-left: 0;
  }

  .posts-item-description {
    margin-left: 0;
    margin-top: 7px;
    padding-bottom: 15px;
    border-bottom: 3px solid #ededed;
  }

  .posts-item-label {
    margin-top: 2px;
  }

  .main-posts {
    width: 326px;
    margin-left: 15px;
  }

  .page-middle {
    width: 641px;
    display: flex;
    justify-content: space-between;
  }

  .picture {
    width: 100%;
  }

  .posts-item-label-link {
    font-size: 17px;
  }

  .posts-item-label {
    line-height: 22px;
    width: 101%;
  }

  .item-time-author {
    padding-top: 3px;
    margin-bottom: 27px;
  }
}

@media (max-width: 640px) {
  .page-middle {
    flex-direction: column;
    width: 100vw;
  }

  .main {
    margin-top: 14px;
  }

  .posts-item {
    flex-direction: column;
    margin-bottom: 35px;
  }

  .main-posts {
    width: 100vw;
  }

  .picture {
    width: 91vw;
    max-width: 360px;
    margin-left: 15px;
  }

  .posts-item-label-link {
    font-size: 16px;
  }

  .posts-item-description {
    width: 91vw;
    margin-left: 13px;
    margin-top: 6px;
    padding-bottom: 20px;
    border-bottom: 3px solid #ededed;
  }

  .posts-item-label {
    margin-top: 6px;
    line-height: 17px;
  }

  .item-time-author {
    margin-top: 15px;
    margin-bottom: 12px;
    letter-spacing: -0.002em;
  }

  .item-author {
    margin-left: 10px;
  }

  .item-text {
    line-height: 20px;
    letter-spacing: -0.035em;
  }

  .item-text-second-paragraph {
    margin-top: 6px;
    line-height: 20px;
    letter-spacing: -0.035em;
  }
}

.new-posts {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 45px;
  padding-top: 2px;
  width: 272px;
}
.new-posts-tittle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 23px;
}

.headlines {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.headlines::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.new-posts-item {
  display: flex;
  margin-top: 10px;
}

.new-posts-item:first-of-type {
  padding-top: 13px;
}

.item-description {
  margin: 5px 0 0 20px;
}

.item-pic-new {
  margin-top: 7px;
}

.picture-new {
  width: 70px;
}

.item-label {
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.item-label-tittle-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.item-time-tittle {
  text-transform: lowercase;
  font-size: 12px;
  color: #999999;
}

.page-search {
  margin-top: 50px;
  margin-bottom: 55px;
}
.search {
  display: flex;
}
.field {
  width: 195px;
  height: 48px;
  padding: 0 10px 0 16px;
  font-size: 13px;
  background-color: #f4f7f6;
  border: none;
  color: #828383;
}

.search-button {
  width: 48px;
  height: 48px;
  padding: 0;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #b59f5b;
  background-size: 18px;
  border: none;
}

.search-button:hover {
  border: 2px solid black;
  cursor: pointer;
}

.mailing-field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 0 10px 0 16px;
  font-size: 13px;
  background-color: #f4f7f6;
  border: none;
  color: #828383;
}

.mailing-search-button {
  display: block;
  margin-top: 17px;
  width: 100%;
  height: 48px;
  padding: 0;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
}

.mailing-search-button:hover {
  border: 2px solid black;
  cursor: pointer;
}

.mailing-search {
  margin-top: 23px;
  margin-bottom: 55px;
}

.tags-block {
  margin-bottom: 40px;
  margin-top: 30px;
  height: auto;
}

.tags-block-items {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.tags-block-link {
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px 13px 5px 13px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ededed;
}

.tags-link-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #b59f5b;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 17px;
}

.topics {
  margin-top: 25px;
}

.topics-block {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.topics-item {
  border-bottom: 1px solid #eeeeee;
  width: 271px;
  padding-bottom: 12px;
  margin-bottom: 15px;
  list-style-type: none;
}

.topics-item-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.topic-item-count {
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: top;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .new-posts {
    margin-right: 35px;
  }

  .item-description {
    margin-top: 3px;
  }

  .page-search {
    margin-top: 58px;
    margin-bottom: 56px;
  }

  .mailing-search-button {
    margin-top: 19px;
  }

  .mailing-search {
    margin-bottom: 56px;
  }

  .tags-block {
    margin-top: 27px;
    margin-bottom: 48px;
  }

  .tags-link-item {
    margin-bottom: 15px;
  }

  .topics {
    margin-top: 23px;
  }

  .topics-item {
    margin-bottom: 12px;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .new-posts {
    margin-right: 15px;
  }

  .item-description {
    margin-top: 3px;
  }

  .page-search {
    margin-top: 58px;
    margin-bottom: 56px;
  }

  .mailing-search-button {
    margin-top: 19px;
  }

  .mailing-search {
    margin-bottom: 56px;
  }

  .tags-block {
    margin-top: 27px;
    margin-bottom: 48px;
  }

  .tags-link-item {
    margin-bottom: 15px;
  }

  .topics {
    margin-top: 23px;
  }

  .topics-item {
    margin-bottom: 12px;
  }
}

@media (max-width: 640px) {
  .new-posts {
    width: 91vw;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .headlines {
    font-size: 16px;
  }

  .item-description {
    margin-top: 2px;
    margin-left: 17px;
  }

  .item-time {
    margin-bottom: 2px;
  }

  .item-label {
    line-height: 18px;
    letter-spacing: 0.01em;
  }

  .page-search {
    margin-top: 57px;
    margin-bottom: 39px;
  }

  .search-label {
    width: 100%;
  }

  .field {
    /*    width: 260px;*/
    padding-right: 5px;
    width: 100%;
  }

  .mailing-search {
    margin-bottom: 38px;
  }

  .mailing-search-button {
    margin-top: 19px;
  }

  .tags-block {
    margin-top: 27px;
    margin-bottom: 30px;
  }

  .tags-link-item {
    margin-bottom: 15px;
    margin-right: 3px;
  }

  .topics {
    margin-top: 23px;
  }

  .topics-item {
    margin-bottom: 12px;
  }
}

.our-products {
  margin-top: 10px;
  width: 100%;
}

.bottom-title {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.bottom-title::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
  background: #e1d9bd;
}

.our-products-items {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 28px;
}

.our-products-item {
  display: flex;
  flex-direction: column;
}

.our-products-pictures {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
}

.our-products-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  border: 3px solid #e1d9bd;
  box-sizing: border-box;
  margin-top: -32px;
  padding-bottom: 25px;
}

.our-products-item {
  margin-left: 32px;
  margin-right: 32px;
}

.our-products-text {
  width: 305px;
  padding: 22px 18px;
}

.our-product-lebel {
  margin-block-start: 0.83em;
  margin-block-end: 2px;
}

.our-product-lebel-link {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.shop-text {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 15px;
  line-height: 22px;
}

.shop-text-link {
  text-decoration: none;
  color: #e1d9bd;
  font-size: 15px;
}

.prie-and-button {
  width: 290px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  align-items: center;
}

.shop-price-old {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 14px;
  font-weight: bold;
  line-height: 10px;
  text-decoration: line-through;
}

.shop-price-new {
  margin-block-start: 0;
  margin-block-end: 0;
  letter-spacing: 0px;
  font-size: 20px;
  font-weight: bold;
}

.shop-button-go {
  display: block;
  width: 110%;
  height: 48px;
  margin-right: 40px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
}

.shop-button-go:hover {
  border: 2px solid black;
  cursor: pointer;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  background-color: #f4f7f6;
  margin: 60px auto 0px auto;
}

.footer-box-links {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  display: flex;
  list-style-type: none;
  padding: 31px 0 31px 0;
}

.footer-box-link {
  display: flex;
}

.footer-box-dribbble {
  width: 20px;
  height: 20px;
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-box-pinterest {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-image: url("../svg//002-pinterest.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-box-tumblr {
  width: 20px;
  height: 20px;
  background-image: url("../svg//003-tumblr.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-copyright-item {
  text-decoration: none;
  font-size: 12px;
  color: #999999;
}

.footer-copyright {
  text-align: center;
  margin: 67px 0 40px 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .our-products {
    margin-top: -2px;
  }

  .bottom-title {
    font-size: 18px;
  }

  .our-products-item {
    margin-bottom: 30px;
  }

  .our-product-lebel-link {
    font-size: 17px;
  }

  .our-products-text {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 7px;
    padding-left: 21px;
  }

  .prie-and-button {
    width: 84%;
  }

  .shop-text {
    width: 95%;
  }

  .our-products-description {
    margin-top: -40px;
    padding-bottom: 23px;
  }

  .our-products-items {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .our-products-item {
    margin-left: 35px;
    margin-right: -15px;
  }

  .footer-box {
    width: 91%;
    margin-top: 23px;
  }

  .footer-box-pinterest {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-copyright {
    margin-top: 42px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  .our-products {
    margin-top: -2px;
  }

  .bottom-title {
    font-size: 18px;
  }

  .our-products-item {
    margin-bottom: 30px;
  }

  .our-product-lebel-link {
    font-size: 17px;
  }

  .our-products-text {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 7px;
    padding-left: 21px;
  }

  .prie-and-button {
    width: 84%;
  }

  .shop-text {
    width: 95%;
  }

  .our-products-description {
    margin-top: -40px;
    padding-bottom: 23px;
  }

  .our-products-items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .our-products-item {
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer-box {
    width: 91%;
    margin-top: 23px;
  }

  .footer-box-pinterest {
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-copyright {
    margin-top: 42px;
    letter-spacing: 0.01em;
  }
}

@media (max-width: 640px) {
  .our-products {
    margin-top: 32px;
  }

  .bottom-title {
    font-size: 16px;
  }

  .our-products-items {
    flex-direction: column;
  }

  .our-products-item {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-box {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
  }

  .our-products-description {
    width: 332px;
    margin-top: -35px;
    padding-left: 18px;
    padding-top: 3px;
    margin-bottom: 26px;
    padding-bottom: 24px;
  }

  .our-product-lebel-link {
    font-size: 17px;
  }

  .our-products-text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    width: 272px;
  }

  .prie-and-button {
    margin-left: 0;
    width: 272px;
  }

  .footer-box {
    margin-top: 13px;
  }

  .footer-copyright {
    margin-top: 42px;
  }
}







